@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Josefin+Sans:wght@100&family=Lobster&family=Lora:ital@1&family=Montserrat:wght@100&family=Nunito:ital,wght@1,700&family=Pacifico&family=Press+Start+2P&family=Righteous&family=Sarala&display=swap');
h1{
    color: rgb(74, 108, 138);
    font-family: 'Lora', serif;
}
body{
    background: rgb(155, 174, 185);
}